@import url('https://fonts.googleapis.com/css?family=Special+Elite|Pacifico|Audiowide|VT323|Patrick+Hand+SC|Rubik|Quicksand|Orbitron:200,400,,600,800');

/* NAVBAR PROPERTIES */
.navbar{
    border-radius:0px;
    margin-bottom:0px;
    background-color:#663399;
}   
.logo{
  margn:25px 20px 0px 1120px;
  margin-right:50px;
  width:80px;height:80px;
  position:relative;
  z-index: 2;
  transition: transform 0.7s;
  transition-timing-function: ease;
}
.logo:hover {
    transform:scale(1.1);
}

li{
    margin:10px;
}

a.top-bar{
    color:#fff;
    font-size:17px;
    font-family:Rubik;
    letter-spacing:0.1em;
}
a.top-bar:hover {
    color:#663399;
}
span{
    background-color:#3d3e3f;
}
button.collapsed{
    border-style:solid;
    border-color:#3d3e3f;
    font-size:18px; 
    padding: 8px 15px;
    border-width:1.5px;
}

@media screen and (max-width: 760px) {
    a.top-bar {
        font-size:10px;
        text-align:right;
    }
    .logo{
        position:absolute;
        width:70px;height:70px;
    }
    button.collapsed {
        font-size:5px;
        padding:3px 4px;
        border-width:1px;
    }
}

/* COVER PROPERTIES */
div.cover{
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
        position: relative; 
        background-position: center;
		background-attachment: fixed;
		padding: 8em 0em 6em 0em;
		background-image: url('images/cover.png');
		background-size: 100%;
		text-align: center;
        filter:contrast(80%);  
        z-index: 1;        
}

h1.cover-heading{
    color:#e74c3c;
    font-family:Rubik;
    font-size:54px;
    letter-spacing:0.2em;
    font-weight:900;
    filter:contrast(110%);
}
@media screen and (max-width: 760px){
    h1.cover-heading{
        font-size:24px;
    }
    div.cover{
        padding:7em 0em 3em 0em;
        background-position:bottom;
    }
}
img.cover-logo{
    filter:contrast(120%);
    width:8%;
}

/* ABOUT US and What are we trying to do */

div.content{
    max-width:1060px;
    margin:20px auto;
    font-family:Quicksand;
    padding:20px;
    background:#ededed;
    font-size:20px;
}
h1#content-heading{
    font-size:54px;
    font-weight:500;
}

.first-hr{
    margin-right:300px;
    max-width:960px;
    background-color:#404040;
    height:0.1em;
    border:0;
}
a{
    color:inherit;
}
@media screen and (max-width: 760px){
    div.content{
        margin:auto;
        padding:10px;
        font-size:14px;
    }
    h1#content-heading{
        font-size:24px;
    }
    .first-hr{
        margin-left:5px;
        width:40%;
    }
}
/* STUFFS that made me CRY*/

.stuffs{
    max-width:1060px;
    padding:10px;
    margin:20px auto;
    background-color:#7e7f82;
}
h1#stuffs-heading{
    margin:20px;
    font-color:white;
    font-family:Quicksand;
    adding-top:40px;
    adding-left:30px;
    font-size:54px;
    font-weight:800;
    color:#1d1d1d;
}
.stuffs-hr{
    margin-left:20px;

}
.rows{
    margin-top:35px;
    padding:20px;
}

@media screen and (min-width: 900px) {
    .rows {
        display:flex;
        justify-content:space-between;
    }
}


.container-one{
    width:100%;
}

.card {
    background-color:#cee8cc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    padding: 2px 16px;
    flex-basis:25%;
}   
.card-text{
    font-family:Quicksand,Monospace;
    font-size:18px;
    
    
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image {
  opacity: 1;
  dispay: block;
  width:100%;
  padding:5px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.card:hover .image {
  opacity: 0.3; 
  cursor:pointer;
}

.card:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-family:Quicksand;  
  font-weight:500;
  font-size: 15px;
  padding: 10px 15px;
}



@media screen and (max-width: 760px){
    .stuffs{
        padding:5px;
        margin:0px;
    }
    .stuffs-hr{
        width:30%;
    }
    h1#stuffs-heading{
        font-size:24px;
    }
    
    .rows{
        margin-top:0px;
        padding:5px;
    }
    .container-one{
        width:auto;
        #background-color:black;
    }
    #h3-container-one{
        font-size:18px;
    }
    .card{
        margin-bottom:10px;
        width:auto;
        #background-color:red;
    }
    .card-text {
        font-size:12px;
    }
    .image{
        #background-color:green;
        padding:0px;
        margin-bottom:-16px;
    }
    
}



/* FOOTER */

.last-section{
    background-color:#1d1d1d;
    color:#fff;
    padding:10px;
}

.last-heading{
    text-align:center;
    color:#e74c3c;
    font-family:Quicksand;
    font-size:40px;
    font-weight:600;
}
.icons{
    margin:auto;
    text-align:center;
    padding:20px;
}


@media screen and (max-width: 760px) {
    .fa{
        padding:10px;
        margin:5px;
    }
    .icons{
        padding:0px;
    }
    .last-heading {
        font-size:30px;
    }
}




/* MESSING */

.fa {
  padding: 15px;
  color:#737373;
  color:#fff;
  margin:10px;
}

a:hover{
  text-decoration:none;
}

.fa-twitter{
    background-color:rgb(29,161,242);
}
.fa-twitter:hover{
  color:rgb(29,161,242);
  background-color:#cccdce;
}
.fa-facebook-square{
    background-color:rgb(59,89,152);
}
.fa-facebook-square:hover{
  color:rgb(59,89,152);
  background-color:#cccdce;
}
.fa-instagram{
    background-color:#ff3333;
}
.fa-instagram:hover{
  color:#ff3333;
  background-color:#cccdce;
}

.fa-github{
    background-color:rgb(36,41,46);
}
.fa-github:hover{
  color:rgb(36,41,46);
  background-color:#cccdce;
}

.last-p{
    font-size:14px;
    font-family:Rubik;
    text-align:center;   
}






